
body {
    background-color: aquamarine;
}

h1 {
    color:lightcoral;
}

/* Styling NARBAR */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.logo {
    color: lightcoral;
    font-size: 35px;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: lightcoral;
    text-decoration: none;
}

.header-title {
    text-align: center;
}